body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #1c1c1c, #333333, #666666, #000000);

    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .landing-container {
    text-align: center;
  }
  
  .landing-header h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
  }
  
  .landing-header p {
    font-size: 1.5em;
    margin-bottom: 1em;
  }
  
  .landing-buttons .btn {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #67a569; /* Fondo rosa */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .landing-buttons .btn:hover {
    background-color: #67a569; /* Fondo rosa más oscuro al pasar el ratón */
  }
  