/* Contenedor principal de los álbumes */
.albumes-container {
    padding: 20px;
    width: 100%;
    color: white;
}

/* Título de la página */
.albumes-container h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
}

/* Contenedor de los álbumes, utilizando flexbox para que se vean horizontalmente */
.albumes-list {
    display: flex;
    flex-wrap: wrap; /* Permite que los álbumes se acomoden en múltiples filas si es necesario */
    justify-content: center; /* Centra los álbumes */
    gap: 20px; /* Espacio entre los álbumes */
    margin: 0;
}

/* Estilo de cada álbum */
.album-item {
    width: 250px; /* Tamaño fijo para los álbumes */
    background-color: #2d2d2d;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    transition: transform 0.2s ease-in-out;
}

.album-item:hover {
    transform: scale(1.05); /* Agranda ligeramente el álbum al pasar el cursor */
}

.album-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

.album-item h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    margin-top: 10px;
    color: #fff;
}

.album-item p {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: #b3b3b3;
}
