.songs-list {
  display: flex;
  flex-direction: column; /* Cambia a disposición en columnas */
  gap: 16px;
  overflow-y: auto; /* Habilita el scroll vertical */
  padding: 20px;
  scrollbar-width: thin; /* Ajusta el ancho del scrollbar (Firefox) */
  scrollbar-color: #69d0ff transparent; /* Colores del scrollbar */
  background-color: rgba(20, 20, 20, 0.95); /* Fondo semitransparente */
  box-shadow: -5px 0 20px rgba(0, 0, 0, 0.5);
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 25px;
  width: 170vh; /* Ajusta el ancho */
  height: 80vh; /* Altura de la lista de canciones */
}

.songs-list::-webkit-scrollbar {
  width: 8px; /* Ancho del scrollbar vertical */
}

.songs-list::-webkit-scrollbar-thumb {
  background-color: #69d0ff; /* Color del thumb */
  border-radius: 4px;
}

.songs-list::-webkit-scrollbar-track {
  background: transparent; /* Fondo del track del scrollbar */
}

.song-item {
  flex: 0 0 auto; /* Evita que los items cambien su tamaño */
  width: auto; /* Se adapta al contenido */
  height: auto; /* Se adapta al contenido */
  border: 1px solid #413b3b;
  padding: 8px;
  border-radius: 8px;
  text-align: left; /* Texto alineado a la izquierda */
  background-color: #494444a9;
  box-sizing: border-box; /* Evita que el padding afecte el tamaño total */
  transition: transform 0.3s ease; /* Transición suave al hover */
  display: flex; /* Usa flexbox para alinear elementos internos */
  align-items: center; /* Centra verticalmente */
  gap: 16px; /* Espaciado entre elementos internos */
}

.song-item:hover {
  transform: scale(1.05); /* Efecto de zoom al pasar el mouse */
}

.song-image {
  width: 80px; /* Tamaño de la imagen */
  height: 80px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.song-details {
  display: flex;
  flex-direction: column; /* Coloca título y detalles en columna */
}

.song-title {
  font-size: 18px;
  color: #ffffff;
  margin: 0;
}

.song-album {
  font-size: 14px;
  color: #b0b3b8;
  margin: 0;
}
