.reproductor {
    display: flex;
  }
  
  .content {
    margin-left: 140px;
    flex-grow: 1;
    padding-bottom: 80px; /* Espacio para el reproductor */
    min-height: 10vh;
    color: #fff;
  }
  